@model List<Avaliacao3BimLp3.ViewModels.EstabelecimentoViewModel>;

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mb-3">Lojas</h1>

@foreach(var loja in Model)
{
    <h3>@loja.Nome</h3>
    <p>@loja.Piso</p>
    <p>@loja.Descricao</p>
    <p>@loja.TipoDeEstabelecimento</p>
    <p>@loja.Email</p>
    <hr>
}
