@model List<Avaliacao3BimLp3.ViewModels.EstabelecimentoViewModel>;

@{
    ViewData["Title"] = "Área administrativa";
}

<h1 class="mb-3 text-center">Estabelecimentos</h1>

@foreach(var estabelecimento in Model)
{
    <h3>@estabelecimento.Nome</h3>
    <p>@estabelecimento.Piso</p>
    <p>@estabelecimento.TipoDeEstabelecimento</p>
    <a class="btn btn-primary btn-block" role="button" asp-action="Show" asp-route-id="@estabelecimento.Id">Detalhes</a>
    <a class="btn btn-danger btn-block" role="button" asp-action="Delete" asp-route-id="@estabelecimento.Id">Deletar</a>
    <hr>
   
}
