@model List<Avaliacao3BimLp3.ViewModels.EstabelecimentoViewModel>;

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="mb-3 text-center">Estabelecimentos</h1>

@if(Model.Count == 0)
{
    <p class="text-center mt-2">Nenhum estabelecimento cadastrado</p>    
}

@foreach(var estabelecimento in Model)
{
    <h3>@estabelecimento.Nome</h3>
    <p>@estabelecimento.Piso</p>
    <p>@estabelecimento.Descricao</p>
    <p>@estabelecimento.TipoDeEstabelecimento</p>
    <p>@estabelecimento.Email</p>
    <hr>
}
