@model Avaliacao3BimLp3.ViewModels.LojaViewModel;

@{
    ViewData["Title"] = "Loja";
}

<h1>@Model.Nome</h1>
<hr>

<p>Id: @Model.Id</p>
<p>Nome: @Model.Nome</p>
<p>Endereço: @Model.Piso</p>
<p>Endereço: @Model.Descricao</p>
<p>Tipo de estabelecimento: @Model.TipoDeEstabelecimento</p>
<p>Endereço: @Model.Email</p>
