@model Avaliacao3BimLp3.ViewModels.EstabelecimentoViewModel;

@{
    ViewData["Title"] = "Estabelecimento";
}

<h1>@Model.Nome</h1>
<hr>

<p>Id: @Model.Id</p>
<p>Nome: @Model.Nome</p>
<p>Endereço: @Model.Piso</p>
<p>Descrição: @Model.Descricao</p>
<p>Tipo de estabelecimento: @Model.TipoDeEstabelecimento</p>
<p>Endereço: @Model.Email</p>
<a class="btn btn-danger btn-block" role="button" asp-action="Delete" asp-route-id="@Model.Id">Deletar</a>
